@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@500;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Inter:wght@400;700&family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@500;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Outfit:wght@400;700&display=swap');

:root {
    --Dark-cyan: hsl(158, 36%, 37%);
    --Darker-cyan: hsl(158, 36%, 20%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    --fraunces: 'Fraunces', serif;
    --Montserrat: 'Montserrat', sans-serif;
}
/*
  Modern CSS reset from my repository
  https://github.com/leanhanc/my-css-reset
*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: var(--Montserrat);
    font-size: 0.875rem;
    background-color: var(--Cream);
    display: grid;
    place-content: center;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
.main-container {
    margin: 20px;
    background-color: var(--White);
    border-radius: 0.5rem;
    overflow: hidden;
    display: grid;
    max-width: 600px;
}
@media (min-width: 600px) {
    .main-container {
        grid-template-columns: 1fr 1fr;
    }
}
.price-box {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.content {
    padding: 1rem;
    display: grid;
    gap: 1rem;
}
.content .type {
    letter-spacing: 3px;
    text-transform: uppercase;
}
p {
    color: var(--Dark-grayish-blue);
}
.name {
    font-family: var(--fraunces);
    font-size: 2rem;
    line-height: 1;
}
.price {
    font-size: 2rem;
    font-family: var(--fraunces);
    color: var(--Dark-cyan);
}
.original-price {
    text-decoration: line-through;
}
.btn {
    cursor: pointer;
    border: 0;
    border-radius: 0.5rem;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--Dark-cyan);
    color: var(--White);
    font-weight: 700;
    transition-duration: 1s;

}
.btn:hover {
    background-color: var(--Darker-cyan);
}
.btn[data-icon="shopping-cart"]::before{
    content: "";
    background-image: url(../images/icon-cart.svg);
    width: 15px;
    height: 16px;
}
.attribution {
    font-size: 11px; text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}